projects/n8n-templates/workflows/ai-content-autopilot.json
{
  "name": "AI Content Autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$json.rssFeed}}",
        "options": {}
      },
      "id": "rss-read",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssRead",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "itemList",
        "documentId": "={{$json.notionDatabaseId}}",
        "itemsToSkip": 0
      },
      "id": "notion-get",
      "name": "Get Existing Articles",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "summarize",
        "text": "={{$json.articleContent}}",
        "options": {}
      },
      "id": "ai-summarize",
      "name": "AI Summarize",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "rewrite",
        "text": "={{$json.summary}}",
        "options": {
          "tone": "professional",
          "language": "traditional-chinese"
        }
      },
      "id": "ai-rewrite",
      "name": "AI Rewrite (Chinese)",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "={{$json.rewrittenTitle}}",
        "content": "={{$json.rewrittenContent}}"
      },
      "id": "wordpress-create",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS Feed": {
      "main": [
        [
          {
            "node": "Get Existing Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize": {
      "main": [
        [
          {
            "node": "AI Rewrite (Chinese)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Rewrite (Chinese)": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["automation", "ai", "content", "rss"],
  "triggerCount": 1,
  "updatedAt": "2026-02-27T00:30:00.000Z",
  "versionId": "1"
}
